<div id="footer" class="card bg-dark text-white" style="background-color:#D2960B;">
    <div class="card-body">
      Contact-
   
  <ul >
   
    <li >
      <h5 class="mb-1">Email: maclouis@gmail.com</h5>
    </li>
    <li >
      <h5 class="mb-1">Contact no. 9999999999</h5>
    </li>
    <li >
      <h5 class="mb-1">Address: POL, Zen</h5>
      <div class="footer-copyright text-center">© <script>document.write(/\d{4}/.exec(Date())[0])</script> Copyright: 
        <a href="#"> Diagnosis.com</a>
      </div>
    </li>
    
  </ul>
</div>